<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <table border="1" cellspacing="0" width="60%">
            <tr>
                <th>番号</th>
                <th>名前</th>
                <th>年齢</th>
                <th>性別</th>
                <th>成績</th>
                <th>等級</th>
            </tr>
            <tr align="center" v-for="(user,index) in users">
                <td>{{index+1}}</td>
                <td>{{user.name}}</td>
                <td>{{user.age}}</td>
                <td>
                    <span v-if="user.gender == 1">男</span>
                    <span v-if="user.gender == 2">女</span>
                </td>
                <td>{{user.score}}</td>
                <td>
                    <span v-if="user.score>=85">優秀</span>
                    <span v-else-if="user.score>=60">合格</span>
                    <span style="color: red;" v-else>不合格</span>
                </td>
            </tr>
        </table>
    </div>
</body>
<script>
    new Vue({
        el:"#app",
        data:{
            users:[{
                name:"Tom",
                age: 20,
                gender: 1,
                score: 78
            },{
                name:"Rose",
                age: 18,
                gender:2,
                score:86
            },{
                name:"Jerry",
                age:26,
                gender:1,
                score: 32
            },{
                name:"Lupus",
                age:27,
                gender:1,
                score:100
            }]
        },
        methods:{

        }
    })
</script>
</html>