*{
    margin: 0;
    padding: 0;
}


/* ヘッダー部分 */
.top_header{
   background-color: black;
}
.top_header h3{
    color: white;
    margin-right: 20px;
    text-align: right;
}
.bottom_header{
    height: 75px;
    border-bottom: solid 1px black;
}
.bottom_header img{
    margin-left: -17px;
    margin-top: -39px;
}

/* ナビゲーション部分 */
.nav_list{
    list-style: none;
    display: flex;
    padding: 20px;
    align-items: center;
    height: 75px;
    margin-left: 190px;
    margin-top: -132px;
}
.nav_list li{
    position: relative;
    margin-right: 128px;
}
.nav_list li a{
    color: black;
    width: 147px;
    font-weight: bolder;
    text-decoration: none;
    position: relative;
    display: inline-block;
}

.nav_list li a:hover{
    color: #ff6600;
}
/* 矢印 */
.nav_list li a #arrow{
    /* position: absolute; */
    transition: transform 0.3s ease;
    transform:rotate(0deg);/*矢印向上　初期状態*/
    margin-bottom: -5px;
    margin-left: 2px;
}
.nav_list li a:hover #arrow{
    transform:rotate(180deg);/*矢印向下　ホバー時*/
}

#arrow1{
    position: absolute;
    transition: transform 0.3s ease;
    transform:rotate(0deg);/*矢印向上　初期状態*/
    margin-top: -1px;
    margin-left: 5px;
}

#arrow1:hover{
    transform:rotate(180deg);/*矢印向下　ホバー時*/
}
/* 下拉菜单 */
.dropdown_content{
    display: none;
    width: 197px;
    list-style: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.nav_list .dropdown:hover .dropdown_content{
    display: block;
}

.dropdown_content li{
    margin-left: 29px;
}

.dropdown_content li a{
    color: black;
    width: 158px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#gc{
    margin-left: -20px;
    margin-bottom: -45px;
}

.pc_image img{
    margin-left: -21px;
    margin-bottom: -45px;
}

.mobilegame_image img{
    margin-left: -21px;
    margin-bottom: -45px;
}
/* 下下拉导航栏 */
.sub_dropdown_content{
    display: none;
    margin-top: -72px;
    margin-left: 170px;
    width: 197px;
    list-style: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.nav_list .sub_dropdown:hover .sub_dropdown_content{
    display: block;
}
.sub_dropdown_content li{
    margin-left: 29px;
}
/* 右ナビゲーション部分 */
/* 検索 */
form{
    margin-left: 822px;
    margin-top: -77px;
}
input {
    border-radius: 20px;
    border: solid 1px #cac9c9;
    width: 391px;
    height: 39px;
  }

button {
    background-color: transparent;
    border: none;
}

button img{
    padding-bottom: 25px;
    padding-left: 377px;
    width: 20px;
    height: 20px;
}

:placeholder-shown {
    padding-left: 15px;
}
/* 登録写真バー */
.right_nav{
    list-style: none;
    display: flex;
    padding: 20px;
    height: 75px;
    margin-top: -19px;
}
.user_image{
    margin-left: 20px;
    margin-bottom: -6px;
    border-radius: 50%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    width: 50px;
    height: 50px;
}

.user_dropdown{
    margin-top: -62px;
    margin-right: 184px;
}

.user_dropdown_content {
    list-style: none;
    width: 229px;
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: #f9f9f9;
    z-index: 1;
    height: 188px;
    margin-right: 85px;
}

.user_dropdown:hover .user_dropdown_content {
    display: block; /* 鼠标悬停时显示下拉菜单 */
}

.login{
    text-align: center;
    margin-left: 27px;
    padding-top: 14px;
    margin-top: 60px;
    width: 193px;
    border-radius: 51px;
    height: 35px;
    box-shadow: 0 0 10px rgba(245, 134, 134, 0.856);
    background: linear-gradient(pink, rgb(235, 118, 138), rgb(234, 46, 77));
}
.login a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}
.sign{
    margin-top: 20px;
    margin-left: 45px;
}
.sign a{
    color: rgb(234, 46, 77);
}

/* メイン部分 */
/* カルーセル */
